:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
}

.canvas-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

h2 {
    margin: 10px;
    flex-shrink: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}

.canvas-placeholder {
  display: none; // Hide the placeholder text
}
