.switcher-bar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #222;

  // Override Material styles for dark theme look
  ::ng-deep .mat-button-toggle-group {
    border: none;
    background-color: #444;
    border-radius: 4px;
    overflow: hidden;
  }

  ::ng-deep .mat-button-toggle {
    background-color: transparent;
    color: #bbb;
    border-left: 1px solid #555;

    &.mat-button-toggle-checked {
      background-color: #007bff; // Active color
      color: white;
    }

    &:first-child {
      border-left: none;
    }
  }
}
