/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif; /* Example font */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
